/* MAIN Styles */

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(65%) 
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16pt !important;
}

.text-column {
  width: 50%;
  padding-right: 20px;
  height: 70vh;
  overflow-y: scroll;
  margin-left: 3% !important;
}

.img-column {
  width: 50%;
  padding-left: 0px;
  height: 70vh;
  border-width: 4.5px;
  border-style: inset;
  border-color: #6a5acd;
  border-radius: 8px;
  margin-right: 3% !important;
}

#myDIV {
  width: 100%;
  height: 70vh;
  max-width: 900px;
  margin: auto;
  position: relative;
  overflow-y: scroll;
  margin-right: 10px !important;
}

#text-container1,
#text-container2,
#text-container3,
#text-container4 {
  height: 25vh;
  padding: 1.5px;
  background-color: white;
  border-width: 4.5px;
  border-style: inset;
  border-color: #6a5acd;
  border-radius: 8px;
  font-family: Baskerville;
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 49.5px;
  margin-left: 10px;
  line-height: 1;
}

#text-container1 {
  top: 0;
  overflow: auto;
}

#text-container2 {
  top: 25vh;
  overflow: auto;
}

#text-container3 {
  top: 50vh;
  overflow: auto;
}

#text-container4 {
  top: 75vh;
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* Media Queries */

/* Portrait phones */
@media (max-width: 575.98px) {
  .text-column {
    width: 50%;
    height: 70vh;
    margin-left: 3% !important;
    font: 2vw/1 'Courier New', sans-serif;
    color: purple !important;
  }

  .img-column {
    width: 50%;
    height: 70vh;
    margin-top: 20px;
    margin-right: 3% !important;
  }
}

/* Landscape phones */
@media (min-width: 576px) and (max-width: 767.98px) {
  .text-column {
    width: 50%;
    height: 70vh;
    margin-left: 3% !important;
    font: 2vw/1 'Courier New', sans-serif;
    color: purple !important;
  }

  .img-column {
    width: 50%;
    height: 70vh;
    margin-top: 20px;
    margin-right: 3% !important;
  }
}

/* Custom Styles */
.navbar-custom {
  background-color: rgba(248, 249, 250, 0.3);
  color: white;
  width: 100%;
  margin-left: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 10px;
  height: 50px;
}

.ulcolor {
  background-color: rgba(248, 249, 250, 0);
  color: white;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 15px;
  margin-left: auto;
}

.ulcolor .nav-item:not(:last-child) {
  margin-right: 15px;
}

.navbar-brand {
  font-weight: bold;
  color: white;
}

.nav-link.text-end {
  font-size: 14px;
}

.navbar-nav .nav-link {
  font-size: 16px;
}
